.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.router-link {
  color: #ffffff;
  margin: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #0275d8;
  }
}

.router-link-active {
  color: #39C0ED;
  font-weight: 500;
}
