<div class="container .container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="text-white">Joke input form</h3>
      <app-form (jokeCreation)="addJoke($event)"></app-form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-white">Jokes list: {{jokes.length}} {{jokes.length === 1 ? 'joke' : 'jokes'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <app-joke-card
          class="col-sm-12"
          *ngFor="let joke of jokes; let i = index"
          [joke]="joke"
          (jokeDeletion)="removeJoke(i)"
        ></app-joke-card>
      </div>
    </div>
  </div>
</div>
